<p id="notice"><%= notice %></p>



<iframe width="854" height="480" src="https://www.youtube.com/embed/_DAxVr9A4TE?autoplay=1;rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

